#gameboard {
    margin-left: 33%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 610px;
    width: 610px;
    align-self: center;
    background-color: black;
    gap: 5px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 80px;
    background-color: white;
}

#controls,
#message {
    text-align: center;
    margin: 20px 0;
}